body {
    background-color:darkgreen;
    color:cornsilk;
    font-family: 'Georama', sans-serif;
}

section{
    padding-bottom: 10px;
}

h2{
    font-weight: 600;
    font-size: 20px;
    color:hotpink;
    margin: 30px 0px 30px 0px;
}

#skills ul li{
    background-color:hotpink;
    margin-top:5px;
    margin-bottom:5px;
    text-align: center;
    list-style-type: circle;
}

#skills ul li{
    width:100px;
}

#experiences ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

#experiences ul li {
    list-style-type: none;
}

#experiences ul li {
    width: 300px;
    margin: 5px 5px 5px 5px;
    border:solid hotpink;
    text-align: center;
}

form[name="leave_message"] {
    display:flex;
    flex-direction:column;
    max-height:300px;
}
 
form[name="leave_message"] label {
    font-weight: bold;
}

form[name="leave_message"] input,
form[name="leave_message"] textarea,
form[name="leave_message"] label {
    padding: 10px;
    width:200px;
    margin-bottom:5px;
}

form[name="leave_message"] button[type="submit"],
#messages li button {
    padding: 5px;
    background-color: aqua;
    max-width:200px;
}

#messages li button {
    margin-left:10px;
}

a{
    color:cornsilk;
}

nav{
    position:sticky;
    top:0px;
    left:0px;
    background-color:black;
    text-align: center;
    display:flex;
    justify-content: center;

}

nav a {
    margin-left:10px;
    margin-right:10px;
    font-weight: bold;
}

/**media queries for responsive sizing of headers**/
@media screen and (min-width: 400px){
    h2{
        font-size: 20px;
    }
}

@media screen and (min-width: 600px){
    h2{
        font-size: 25px;
    }
}

@media screen and (min-width: 800px){
    h2{
        font-size: 30px;
    }

    nav a {
        margin-left:30px;
        margin-right:30px;
    }
}

@media screen and (min-width: 900px){
    h2{
        font-size: 40px;
    }
}

@media screen and (min-width: 1000px){
    h2{
        font-size: 50px;
    }
}